.accommodation-cards {
  display: flex;
  justify-content: center;
}

.accommodation-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin: 40px 20px;
}

.accommodation-card {
  width: 100%;
  max-width: 400px;
  border-radius: 2px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  height: 75vh;
  transition: 0.5s;
  position: relative;
}

.accommodation-card:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
}

.accommodation-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.accommodation-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
}

.accommodation-card-content h2 {
  font-size: 25px;
  font-weight: 600;
  color: var(--secondary-color);
}

.accommodation-card-content p {
  font-size: 16px;
  color: var(--primary-color);
}

.accommodation-card-content .btn {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  font-size: 16px;
}
