.scroll-to-top {
  position: fixed;
  padding: 0;
  bottom: 0;
  left: 0;
  color: var(--secondary-color);
  border: none;
  cursor: pointer;
  font-size: 50px;
  z-index: 9999;
  background: none;
  margin: 5px;
}

.scroll-to-top:hover {
  color: var(--primary-color);
}

.whatsapp {
  position: fixed;
  bottom: 0;
  right: 0;
  border: none;
  cursor: pointer;
  font-size: 60px;
  z-index: 9999;
  background: none;
  margin: 0 10px 0 10px;
}

.whatsapp i {
  color: #25d366;
  transition: all 0.5s;
  animation: spin 0.5s linear 2;
}

.whatsapp i:hover {
  transform: scale(1.05);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.footer-nav-social a:hover {
  color: var(--secondary-color);
}

.whatsapp i:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .scroll-to-top {
    font-size: 40px;
  }
}
